h1,h2,h3,h4,h5{
    margin: 0 0 10px 0;
    padding: 0;
}

header {
  margin-top: 20px;
}

/*.container {
  width: 920px;
  margin: 0 auto 40px auto;
}*/


.header-title-area {
  margin-top: 40px;
  margin-bottom: 30px;
}

.logo {
  font-size: 32px;
}

.text-sub {
  color: #777;
}


.text-title{
    font-size :24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom:20px;
}

.btn{
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
 } 


.btn-regi{
    background-color: #239b76;
}


.card-contents{
    padding:40px;
    display:block;
    margin-bottom:20px;
    background-color:#000;
}


.left-contents{
    width:60%;
    margin-right:1%;
    float: left;
}

.right-contents{
    width: 39%;
    float: right;
    
}

.rightup{
  text-align: center;
}


.copyright {
  color: #777;
  text-align: center;

}

.main:after {
  clear: both;
  display: block;
  content: " ";
}


footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.card-body{
    padding:0;
}

.card ul{
    list-style:none;
}

.card li{
    border-bottom:1px solid grey;
    padding:5px;
}